.card{
    color:black;
}
a{
    text-decoration: none;
    color:black;
}

.footer-social{
    color: white;
}

.admin-dash{
    height: 80vh;
}

#notifs{
    position: sticky;
    bottom:0;
    margin-left: auto;
    margin-right: 0;
}

#mint{
    height: 100vh;
    display: flex;
    padding-top: 10rem
}


#backToTop{
    color:white;
    font-size:32px;
}
#backToTop:hover{
    color:purple;
    font-size:32px;
}
.completed{
    color: #3dc1d3;
}

table{
    width: 50%;
    margin: auto;
}

th{
    font-size: 25px;
    padding: 10px;
    color:white;
}


.in-progress{
    color: #f5cd79;
}
.to-do{
    color:#c44569;
}
  #Go-To-Desktop{
      display:none;
  }

@media only screen and (max-width: 800px) {
  #team {
    border-top: 1px solid white;
    margin-top: 15rem;
  }
  #mint{
      visibility: hidden;
  }
  #Go-To-Desktop{
      display:block
  }
}