.card{
    color:black;
}
a{
    text-decoration: none;
    color:black;
}

.footer-social{
    color: white;
}

.admin-dash{
    height: 80vh;
}

#notifs{
    position: sticky;
    bottom:0;
    margin-left: auto;
    margin-right: 0;
}

#mint{
    height: 100vh;
    padding: 3rem;
}

#backToTop{
    color:white;
    font-size:32px;
}
#backToTop:hover{
    color:purple;
    font-size:32px;
}
.completed{
    color: #3dc1d3;
}
.in-progress{
    color: #f5cd79;
}
.to-do{
    color:#c44569;
}
